{% load static %}
<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>
<body>
    <aside>
        <img src="{% static 'main/img/background.jpg' %}" alt="Smile">
        <span class="logo">Cerber</span>
        <h3>Навигация</h3>
        <ul>
            <a href="{% url 'home'%}"><li><i class="fas fa-home"></i>Главная страница</li></a>
            <a href="{% url 'about'%}"><li><i class="fas fa-question"></i>О нас</li></a>
            <a href="{% url 'sup'%}"><li><i class="fas fa-question"></i>Помощь</li></a>
            <a href="{% url 'news_home'%}"><li><i class="fas fa-address-book"></i>Новости</li></a>
            <a href="{% url 'create'%}"><li><i class="fas fa-backspace"></i>Создать новость</li></a>
        </ul>

    </aside>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>